// vars
$btn-primary: #297fe5;
$btn-secondary: #d1d5db;
$btn-secondary-text: #374151;
$accent-color: #f3bf99;

$padding: 1.5625rem;
$border-radius: 5px;
$white: white;

body {
  margin: 0;
  background-color: #23252c;
  font-family: "Inter";
}

h1,
h2,
h3,
h4 {
  color: white;
}

div,
p {
  color: #dcdcdc;
}

.container {
  padding: 50px;
}

// btns
.btn {
  padding: 9px 20px 9px 45px;
  border: 1px solid;
  position: relative;
}
.btn-primary {
  border-color: $btn-primary;
  background-color: $btn-primary;
  color: $white;
}
.btn-secondary {
  border-color: $btn-secondary;
  background-color: $white;
  color: $btn-secondary-text;
}
/* card */
.card {
  border-radius: $border-radius;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: #1a1b21;
}
/* Header */

header {
  text-align: center;
  width: 100%;
  & img {
    border-radius: 5px 5px 0 0;
    width: 100%;
  }
  & .header__wrap {
    padding: $padding;
  }
  & .header__bio {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1.5rem;
    & h1 {
      font-size: 25px;
      margin: 0;
    }
    & span {
      color: $accent-color;
      font-size: 13px;
    }
    a {
      color: #f5f5f5;
      text-decoration: none;
    }
  }
  .header__links {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    margin-top: 1rem;
    padding-bottom: 1.5rem;
    & a {
      border-radius: $border-radius;
      text-decoration: none;
      font-weight: 500;
      background-repeat: no-repeat;
      background-size: 28px 16px;
      background-position: 10px center;
      &.btn-mail {
        background-image: url(./svg/email.svg);
      }
      &.btn-social {
        background-image: url(./svg/linkedin.svg);
      }
    }
  }
}

//info blocks

.info__block {
  padding: $padding;
  & .info__title {
    font-size: 1.5rem;
  }
  & .info__text {
    font-size: 0.6875rem;
  }
}

//footer

footer {
  background-color: black;
  padding: 15px 0;
  & .social {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;

    & .social__item {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 15px;
      height: 15px;
      padding: 15px;
    }
    & .social__item-linkedin {
      background-image: url(./svg/linkedin.svg);
    }
    & .social__item-github {
      background-image: url(./svg/github.svg);
    }
    & .social__item-facebook {
      background-image: url(./svg/facebook.svg);
    }
    & .social__item-instagram {
      background-image: url(./svg/instagram.svg);
    }
  }
}


